
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
/** @note: watch out for naming conflicts with Bulma */
$blue-primary: #4C8BE1;
$blue-secondary: #344055;
$orange-accent: #FF6946;
// #FF4A1F #FF3100 maybe these?
$yellow-accent: #FFE646;

// Spacing
$vertical-section-spacing: 90px;